* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: url(banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(red 0, green 0, blue 0, alpha 1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}
header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
}

header .navbar ul li a:hover {
  background: #333;
  background: #ffffff;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
}

header label {
  display: initial;
}

header .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid, rgba(0, 0, 0, 0.1);
  display: none;
}

header .navbar ul li {
  width: 100%;
}

header .navbar ul li ul {
  position: relative;
  width: 100%;
}

header .navbar ul li ul li {
  background: #eee;
}

header .navbar ul li ul li ul {
  width: 100%;
  left: 0;
}

#menu-bar:checked ~ .navbar {
  display: initial;
}
/* General styles for all devices */
body {
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles for phones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  /* Make navigation links stack vertically */
  nav ul {
    flex-direction: column;
  }

  /* Make the layout one column */
  main,
  aside {
    width: 100%;
  }
}

/* Styles for iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  /* Make navigation links display inline */
  nav ul {
    flex-direction: row;
  }

  /* Make the layout two columns */
  main {
    width: 70%;
  }

  aside {
    width: 30%;
  }
}

/* Styles for laptops */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  /* Make navigation links display inline */
  nav ul {
    flex-direction: row;
  }

  /* Make the layout two columns */
  main {
    width: 70%;
  }

  aside {
    width: 30%;
  }
}
